## Project Pt 3

### 1. Introduction
This paper completed a meta-analysis examining the differences in microbiomes of corals with and without stony coral tissue loss disease (sctld). In an effort to reduce biases from varying sampling and bioinformatic methods, they compiled datasets from 16 different studies to identify microbial taxa that may be associated with the disease since the cause of sctld is still unknown.

### 2. Project Pt 2

#### 2.1 Contents of Project pt 2
Section 1: Data Set 1 from Project Pt1: https://www.nature.com/articles/s43705-023-00220-0
- Data sets acquired from 16 studies. **2425** total coral samples (observations). samples collected either from the field or from lab-based experiments and sequenced  
- Features (>1000) - taxonomic units (ASVs) that describe how many counts of those ASVs were in each coral sample (the observations)
- Metadata about observations - sample type (tissue, mucus, mucus/tissue combo), disease state, geographic location, coral species, aquaria vs natural environment. They also had other data sets of water and sediment samples with ASVs as features. 

Research Qs:
- the cause of stony coral tissue loss disease is unknown but is hypothesized to be from a microbial pathogen - what bacteria are associated with the disease? How do these associated taxa vary across environments and coral species?
    - they theorized that a lack of consensus across studies investigating bacteria associated with sctld is from variability in both sample type (location, coral species, field vs aquaria) and bionformatic analysis. They collected data from multiple studies to analysis them using a single bioinformatic pipeline to limit this variability and investigate similar questions by a meta-analysis using the compiled data.
- you can also ask how coral microbiomes differ when raised in aquaria vs found in their natural environments. you can also examine how microbiomes of the same species differ across locations and disease states. **comment correction: The data set is useful because it includes microbiome samples for corals raised in aquaria vs those sampled from the field. Since the corals sampled have varying disease states, you can just reframe the question to be about coral microbiomes in different environments instead of focusing on disease state. There is also plenty of samples from the same species which is why this data would be useful in examning microbiomes across disease state and/or location within the same host species.** 
- they also examined the microbial communities in the water and sediment surrounding some of the coral samples to try to identify potential pathogens that are transmissable

Figure 1: 
![image.png](attachment:aa9d2e13-d310-4a79-b5d4-d43e7879f975.png)

Section 2 - **Figure 1** Answers:
- x-axis: Log fold change & relative abundance
- y-axis: taxa (genus, order)
- A) the data points show the log fold changes in taxonomic groups when comparing disease lesion (diseased tissue sample) to apparently healthy. So, anything showing positive log-fold change means that taxa was more abundant in Disease Lesion, and anything negative was less abundant in Disease Lesion
- B) the relative abundances of the taxa groups within the sample types. **comment correction: the relative abundance is calculating the fraction of sample type compared to the rest. the number of samples within a sample type (seawater, mucus, slury, etc) divided by the total number of samples - and the total number of samples is set to 1**
- this figure illustrates how bacterial taxa significantly change between healthy and diseased corals, supporting their hypothesis that certain taxa are associated with the disease. B shows how some of these abundances vary across environment or parts of the coral (mucus vs tissue) to support their hypothesis that microbiome changes and associated bacteria may depend on individual hosts. It also shows how disease-associated microbes may be present in the water and sediment, providing evidence for their hypothesis that this disease is transmissable.
- Conclusions: Certain bacterial groups are associated with the disease. Multiple genera in Rhodobacterales and Peptostreptococcales increased significantly in diseased samples indicating it may be pathogenic or just associated with the disease state. Some bacteria associated with the disease may be present in the surrounding seawater and sediment, meaning it may be transmissable.

Figure 2: ![image.png](attachment:f53cb107-74cb-4be2-ad39-1a5741094d38.png)

Section 2 - **Figure 2** Answers:
- x-axis: Log fold change & relative abundance
- y-axis: taxa (genus, order)
- A) the data points show the log fold changes in taxonomic groups when comparing disease unaffected (unaffected tissue sample from a diseased coral colony) to apparently healthy. So, anything showing positive log-fold change means that taxa was more abundant in Disease Unaffected, and anything negative was less abundant in Disease Unaffected
- B) the relative abundances of the taxa groups within the sample types

- this figure also illustrates how bacterial taxa significantly change between healthy and diseased corals, supporting their hypothesis that certain taxa are associated with the disease. This is helpful to provide in addition to Figure 1 because it shows that the microbiome of the entire coral colony changes after being introduced to the disease, even if the disease symptoms haven't spread through the whole coral colony. B shows how some of these abundances vary across environment or parts of the coral (mucus vs tissue) to support their hypothesis that microbiome changes and associated bacteria may depend on individual hosts. It also shows how disease-associated microbes may be present in the water and sediment, providing evidence for their hypothesis that this disease is transmissable.

- Conclusions: Both figures together show which bacteria may be associated with healthy corals or the disease. Multiple genera in Rhodobacterales decreased significantly in DU group but Flavobacteriales increased. 

Another figure that would be helpful would be the same type of figure showing the significant changes in taxa between Disease Unaffected (DU) and Disease Lesion (DL). This would allow you to easily compare all the taxa between all the groups - especially between the disease lesion and disease unaffected. this direct comparison is currently not shown in a figure in the paper.

Section 3: 
Data table 1: taxonomy.tsv 
- tab deliminated data table - opened in excel 
- 147455 rows & 3 columns. The columns are the feature IDs (which is just the sequence sample identifier), Taxonomy (the identified microbial taxa from the sequence: kingdom - species), and Concensus (percentage that the sequence matched the identified taxa group in the taxonomy database it was matched against). The feature ID's are the observations and the taxonomy and consensus columns are the features. 
- This data is important because it matches each sequence to a microbial taxa. This enables comparing the taxa between samples which is important to answer the paper's questions. 

Data table 2: Feature-table.biom
- biom table format - downloaded QIIME2 (bioinformatic software package) and accessed through command line: converted biom format to txt file and opened as tab deliminated table in excel
- 119456 rows, 2426 columns. rows are feature IDs (match the ones in data table 1), columns are samples (observations). File contains number of feature IDs (sequences of microbial taxa) in each coral sample
- this is essential to the paper because knowing the amount of each taxa in the samples allows comparisons between sample groups, so you can identify bacteria associated with diseased coral samples by seeing which taxa are more abundant in diseased samples vs healthy samples.

Data table 3: SCTLD_meta_analysis_metadata.csv
- comma deliminated table - opened in excel 
- 2444 rows, 68 columns. rows are sample IDs the columns contain metadata about the samples including the study the data came from, the coral species, the disease state, location of coral. 
- The file is important to the analysis because it allows you to match the sample ID to the other data tables and contains important information about the samples. Using this in combination with the other data tables, they were able to sort samples into disease state or environment or sample type to compare microbial abundances to answer their research question.

#### 2.2 Project Pt 2
- I added why the data set on hand would be useful for other potential research questions and added more information on what relative abundance (one of the axes) is in figure 1.

### 3. Data Cleaning and Exploration

#### 3.1 Load and clean data
Link to paper & data:
https://www.nature.com/articles/s43705-023-00220-0#data-availability

##### Steps to obtain data:
1. Click link to github with data 
https://github.com/srosales712/SCTLD_microbiome_meta_analysis

2. Download SCTLD_meta_analysis_metadata.csv and save into ds4bio directory

3. Go to Qiime_output folder and download feature-table.biom & taxonomy.tsv and save into ds4bio directory

4. Complete code below to convert the "biom" format into a tsv file

In [ ]:
#install biom-format via command line in terminal 
pip install biom-format
#convert the biom table to a tsv file 
biom convert -i feature-table.biom -o feature-table.tsv --to-tsv

5. Open the feature-table.tsv file in excel (select "tab-deliminated" when prompted)

6. Open the taxonomy.tsv file in excel the same way 

7. Open the SCTLD_meta_analysis_metadata.csv in excel

##### Steps to load data in as dataframes

In [15]:
#import packages 
import pandas as pd
import numpy as np

#load in the metadata from csv as a dataframe. index_col=0 to make row names the first column
metadata = pd.read_csv("SCTLD_meta_analysis_metadata.csv", index_col = 0)
metadata.head(3)

,SampleID,BioSample,Run,SRA_accession,Lab,Experiment,Alias,Study,Collection_ID,Species_counts,...,primer_names,forwardPrimer,ReversePrimer,linkerPrimerSequence,platform,platformChemistry,sequencing_facility,barcodes,basepairs,notes
sample-id,,,,,,,,,,,,,,,,,,,,,
66NAT,66NAT,SAMN14322012,12,SRS6274849,P_Thome,Pseudodiploria_strigosa,Patriciathome_Pstrigosa,P_Thome,66NAT,High,...,341F_805R,CCTACGGGNGGCWGCAG,GACTACHVGGGTATCTAATCC,TCGTCGGCAGCGTCAGATGTGTATAAGAGACAG/GTCTCGTGGGCT...,Illumina,MiSeq,CINVESTAV_Merida,NexteraXT,250.0,NaN
68NAT,68NAT,SAMN14322013,12,SRS6274852,P_Thome,Pseudodiploria_strigosa,Patriciathome_Pstrigosa,P_Thome,68NAT,High,...,341F_805R,CCTACGGGNGGCWGCAG,GACTACHVGGGTATCTAATCC,TCGTCGGCAGCGTCAGATGTGTATAAGAGACAG/GTCTCGTGGGCT...,Illumina,MiSeq,CINVESTAV_Merida,NexteraXT,250.0,NaN
69NAT,69NAT,SAMN14322014,12,SRS6274848,P_Thome,Pseudodiploria_strigosa,Patriciathome_Pstrigosa,P_Thome,69NAT,High,...,341F_805R,CCTACGGGNGGCWGCAG,GACTACHVGGGTATCTAATCC,TCGTCGGCAGCGTCAGATGTGTATAAGAGACAG/GTCTCGTGGGCT...,Illumina,MiSeq,CINVESTAV_Merida,NexteraXT,250.0,NaN

In [16]:
#Data Cleaning:
#from viewing the meta dataframe: index and 1st column are duplicates, so remove first column
meta=metadata.drop("SampleID",axis=1)
meta.head(3)

,BioSample,Run,SRA_accession,Lab,Experiment,Alias,Study,Collection_ID,Species_counts,collection_time,...,primer_names,forwardPrimer,ReversePrimer,linkerPrimerSequence,platform,platformChemistry,sequencing_facility,barcodes,basepairs,notes
sample-id,,,,,,,,,,,,,,,,,,,,,
66NAT,SAMN14322012,12,SRS6274849,P_Thome,Pseudodiploria_strigosa,Patriciathome_Pstrigosa,P_Thome,66NAT,High,NaN,...,341F_805R,CCTACGGGNGGCWGCAG,GACTACHVGGGTATCTAATCC,TCGTCGGCAGCGTCAGATGTGTATAAGAGACAG/GTCTCGTGGGCT...,Illumina,MiSeq,CINVESTAV_Merida,NexteraXT,250.0,NaN
68NAT,SAMN14322013,12,SRS6274852,P_Thome,Pseudodiploria_strigosa,Patriciathome_Pstrigosa,P_Thome,68NAT,High,NaN,...,341F_805R,CCTACGGGNGGCWGCAG,GACTACHVGGGTATCTAATCC,TCGTCGGCAGCGTCAGATGTGTATAAGAGACAG/GTCTCGTGGGCT...,Illumina,MiSeq,CINVESTAV_Merida,NexteraXT,250.0,NaN
69NAT,SAMN14322014,12,SRS6274848,P_Thome,Pseudodiploria_strigosa,Patriciathome_Pstrigosa,P_Thome,69NAT,High,NaN,...,341F_805R,CCTACGGGNGGCWGCAG,GACTACHVGGGTATCTAATCC,TCGTCGGCAGCGTCAGATGTGTATAAGAGACAG/GTCTCGTGGGCT...,Illumina,MiSeq,CINVESTAV_Merida,NexteraXT,250.0,NaN

In [28]:
#load in the taxonomy from tsv as a dataframe. index_col=0 to make row names the first column, and it is tab seperated instead of comma
taxonomy = pd.read_csv("taxonomy.tsv",sep='\t', index_col = 0)
taxonomy.head(3)

,Taxon,Consensus
Feature ID,,
f4f2731649deea1773042cf5d18a0a33,d__Eukaryota; p__Dinoflagellata; c__Dinophycea...,1.000000
dc99cb7f143b60159d9626ae5be10656,Unassigned,1.000000
82eb6703b24ac1c5e2e7384217cb6747,d__Bacteria; p__Bacteroidota; c__Bacteroidia; ...,0.666667

In [41]:
#Data Cleaning:
#separate the different phylogenetic classifications (in the Taxon column) into different columns by the deliminater ;. expand=True makes it expand the results into different columns  
taxonomy_levels=taxonomy['Taxon'].str.split(';', expand=True)

#remove the prefixes in the classifications in all taxa columns 
#https://stackoverflow.com/questions/26837998/pandas-replace-nan-with-blank-empty-string
taxonomy_levels2 = taxonomy_levels.replace('[a-z]__', '', regex=True)

,0,1,2,3,4,5,6
Feature ID,,,,,,,
f4f2731649deea1773042cf5d18a0a33,Eukaryota,Dinoflagellata,Dinophyceae,Gymnodiniphycidae,Suessiaceae,Symbiodinium,Symbiodinium_sp.
dc99cb7f143b60159d9626ae5be10656,Unassigned,None,None,None,None,None,None
82eb6703b24ac1c5e2e7384217cb6747,Bacteria,Bacteroidota,Bacteroidia,Flavobacteriales,Flavobacteriaceae,NS5_marine_group,uncultured_bacterium
d5ca8ad24be354dabb6003c31e6c756e,Bacteria,Cyanobacteria,Cyanobacteriia,Chloroplast,Chloroplast,Chloroplast,uncultured_bacterium
97174d94588f1829821048d32484b87f,Bacteria,Bacteroidota,Bacteroidia,Cytophagales,Amoebophilaceae,Candidatus_Amoebophilus,uncultured_bacterium
...,...,...,...,...,...,...,...
fcec591ea5c151cbdf7cc9fb782b40e4,Unassigned,None,None,None,None,None,None
e80ac41e0b4a6019cf3bc006884fea79,Unassigned,None,None,None,None,None,None
e817b99fcf0e1156ccb970c5a4505ee0,Unassigned,None,None,None,None,None,None
fff19592f0161ad7e004ac44adda984e,Unassigned,None,None,None,None,None,None
ff4bdfe5bdda943ce41f4b028c6a3389,Unassigned,None,None,None,None,None,None

In [32]:
import pandas as pd

# Sample dataframe
data = {'Taxon': ['d__Eukaryota; p__Dinoflagellata; c__Dinophyceae; o__Gymnodiniphycidae; f__Suessiaceae; g__Symbiodinium; s__Symbiodinium_sp.',
                  'd__Bacteria; p__Proteobacteria; c__Alphaproteobacteria; o__Rhodobacterales; f__Rhodobacteraceae; g__Rhodobacter; s__Rhodobacter_sp.'],
        'Consensus': [0.8, 0.9]}

df = pd.DataFrame(data)
df

                                               Taxon  Consensus
0  d__Eukaryota; p__Dinoflagellata; c__Dinophycea...        0.8
1  d__Bacteria; p__Proteobacteria; c__Alphaproteo...        0.9

In [33]:
# Split the 'Taxon' column by semicolons, expand into separate columns
taxonomy_levels = df['Taxon'].str.split('; ', expand=True)
taxonomy_levels

,0,1,2,3,4,5,6
0,d__Eukaryota,p__Dinoflagellata,c__Dinophyceae,o__Gymnodiniphycidae,f__Suessiaceae,g__Symbiodinium,s__Symbiodinium_sp.
1,d__Bacteria,p__Proteobacteria,c__Alphaproteobacteria,o__Rhodobacterales,f__Rhodobacteraceae,g__Rhodobacter,s__Rhodobacter_sp.

In [34]:
# Remove prefixes from each column
taxonomy_levels = taxonomy_levels.apply(lambda x: x.str.replace('[a-z]__', ''))

# Combine the taxonomy levels with the original dataframe
df = pd.concat([df, taxonomy_levels], axis=1)

# Drop the original 'Taxon' column if needed
df = df.drop('Taxon', axis=1)

# Display the updated dataframe
print(df)

   Consensus          0               1                    2  \
0        0.8  Eukaryota  Dinoflagellata          Dinophyceae
1        0.9   Bacteria  Proteobacteria  Alphaproteobacteria

                   3                 4             5                 6
0  Gymnodiniphycidae       Suessiaceae  Symbiodinium  Symbiodinium_sp.
1    Rhodobacterales  Rhodobacteraceae   Rhodobacter   Rhodobacter_sp.

/var/folders/xz/j1bn_g_96wjd99l2tvy0cdq40000gn/T/ipykernel_7655/2845537776.py:2: FutureWarning: The default value of regex will change from True to False in a future version.
  taxonomy_levels = taxonomy_levels.apply(lambda x: x.str.replace('[a-z]__', ''))